.footer {
  text-align: center;
  padding: 1rem;
  background-color: #f9f9f9;
  margin-top: 2rem;
  border-top: 1px solid #eaeaea;
}

.footer-nav {
  margin-bottom: 0.5rem;
}

.footer-nav a {
  margin: 0 0.5rem;
  color: #09f;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 0.8rem;
  color: #777;
  margin: 0;
}

.footer-link {
  transition: color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}

.footer-link:hover {
  color: #1976d2;
} 